*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    height:100vh;
    background-color: beige;
}
.caja-padre{
    width:40%;
    min-width: 590px;
    position:absolute;
    transform:translate(-50%,-50%);
    left:50%;
    top:50%;
}
.contenedor{
    width:100%;
    padding: 30px 30px 50px;
    background: linear-gradient(450deg, #f3f3f3, #070e90);
    border:2px solid rgba(0,0,0,0.06);
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);   
}
.contenedor * {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(11, 150, 150);

}
.contenedor h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5rem;
}
.skill:not(:last-child){
    margin-bottom: 30px;
}
.detalles{
    width:100%;
    display: flex;
    justify-content: space-between;

}
.menu{
    position:relative;
    border: 2px solid rgb(255, 8, 0);
    border-radius: 20px;

}
.menu div{
    position:relative;
    width: 0;
    height: 8px;
    border-radius: 10px;
    background-color: rgb(0, 21, 255);
}

/* animacion */
#html-menu{
    animation:html-barra 2s forwards;

}
@keyframes html-barra{
    0%{
        width:0;
    }
    100%{
        width:50%;
    }
}